html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  font-weight: bold;
  font-family: '方正兰亭';
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
#article-origin {
  margin-top: 3%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px dashed rgba(227,176,7,0.4);
}
