html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  font-weight: bold;
  font-family: '方正兰亭';
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
}
img {
  width: 90%;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
blockquote {
  margin: 0 0 1rem;
  padding: 0.1rem 0.8rem;
  border-left: 0.2rem solid #e3b007;
  background-color: rgba(227,176,7,0.1);
  color: #6a737d;
}
code {
  font-family: '方正兰亭';
  font-size: 0.9rem;
  padding: 0.1rem 0.2rem;
  background-color: rgba(27,31,35,0.05);
  color: #f47466;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 3px;
  overflow-wrap: break-word;
}
