html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
@media screen and (max-width: 768px) {
  body {
    width: 70%;
  }
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
blockquote {
  margin: 0 0 1rem;
  padding: 0.1rem 0.8rem;
  border-left: 2px solid #e3b007;
  background-color: rgba(42,41,53,0.05);
  color: #6a737d;
  font-size: 0.8em !important;
  font-family: '苹方';
}
code {
  font-size: 0.9rem;
  font-family: '苹方';
  padding: 0.1rem 0.2rem;
  background-color: rgba(27,31,35,0.05);
  color: #f47466;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 3px;
  overflow-wrap: break-word;
}
