html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
@media screen and (max-width: 768px) {
  body {
    width: 70%;
  }
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
.archive-title-name,
#page .new-page-name {
  color: #808080;
  border-bottom: 1px solid rgba(128,128,128,0.1);
  font-family: Monaco, '宋体';
}
.archive-item {
  border-bottom: 1px dotted rgba(128,128,128,0.2);
  margin-top: 25px;
}
.archive-item a {
  color: #000 !important;
  text-decoration: none;
  margin-bottom: 50px;
  font-size: 18px;
}
.archive-item a:hover {
  text-decoration: underline !important;
}
