.archive-title-name,
#page .new-page-name {
  color: #808080;
  font-family: '宋体';
  border-bottom: 1px solid rgba(128,128,128,0.1);
}
.archive-item {
  border-bottom: 1px dotted rgba(128,128,128,0.2);
  margin-top: 25px;
}
.archive-item a {
  color: #000 !important;
  text-decoration: none;
  margin-bottom: 50px;
  font-size: 18px;
}
.archive-item a:hover {
  text-decoration: underline !important;
}
