@font-face {
  font-family: '方正兰亭';
  src: url("../fonts/方正兰亭黑简体.ttf");
}
@font-face {
  font-family: '苹方';
  src: url("../fonts/PingFang.ttf");
}
@font-face {
  font-family: Monaco;
  src: url("../fonts/Monaco.ttf");
}
