@font-face {
  font-family: '方正兰亭';
  src: url("../fonts/方正兰亭黑简体.ttf");
}
@font-face {
  font-family: Monaco;
  src: url("../fonts/Monaco.ttf");
}
@font-face {
  font-family: '青柳隶书';
  src: url("../fonts/青柳隶书.ttf");
}
