html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  font-weight: bold;
  font-family: '方正兰亭';
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
}
img {
  width: 90%;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #dfad07;
}
