.hljs {
  margin: 0 0 0 0 !important;
  padding-left: 10px !important;
  line-height: 1.2em !important;
  font-family: Monaco, '苹方', Courier, monospace !important;
  font-size: 14px !important;
  background-color: #eee !important;
}
@media screen and (max-width: 1020px) {
  .hljs {
    font-size: 10px !important;
  }
}
