html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
blockquote {
  margin: 0 0 1rem;
  padding: 0.1rem 0.8rem;
  border-left: 2px solid #e3b007;
  background-color: rgba(42,41,53,0.05);
  color: #6a737d;
  font-size: 0.8em !important;
  font-family: '苹方';
}
code {
  font-size: 0.9rem;
  font-family: '苹方';
  padding: 0.1rem 0.2rem;
  background-color: rgba(27,31,35,0.05);
  color: #f47466;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 3px;
  overflow-wrap: break-word;
}
@font-face {
  font-family: '方正兰亭';
  src: url("../fonts/方正兰亭黑简体.ttf");
}
@font-face {
  font-family: '苹方';
  src: url("../fonts/PingFang.ttf");
}
@font-face {
  font-family: Monaco;
  src: url("../fonts/Monaco.ttf");
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.tag-list-item {
  display: inline;
  margin-right: 0.5em;
}
.tag-list-item a {
  text-decoration: none;
  border-bottom: 0.5px solid rgba(128,128,128,0.4);
  font-size: 0.8rem !important;
  color: #808080 !important;
}
.tag-list-item a:hover {
  color: #e3b007 !important;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
#container {
  position: relative;
  height: 100%;
  width: 100%;
}
#menu-outer {
  background-color: #2a2935;
  float: left;
  width: 180px;
  position: fixed;
  height: 100%;
  color: #e3b007;
  margin-top: 20px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  #menu-outer {
    display: none;
  }
}
#menu-a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 18px;
  text-decoration: none;
  color: #fff;
}
#menu-a:hover {
  color: #e3b007;
  background-color: #faf5f0;
  border-right: 3px solid #e3b007;
}
#menu-title h3 a {
  color: #e3b007;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'hdfxingkai20f3f1b02721d54' !important;
}
#menu-footer {
  position: absolute;
  left: 0;
  font-size: 10px;
  bottom: 1%;
  width: 180px;
  text-align: center;
  font-family: Monaco;
}
.hljs {
  margin: 0 0 0 0 !important;
  padding-left: 10px !important;
  line-height: 1.2em !important;
  font-family: Monaco, '苹方', Courier, monospace !important;
  font-size: 14px !important;
  background-color: #eee !important;
}
@media screen and (max-width: 1020px) {
  .hljs {
    font-size: 10px !important;
  }
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
.recent-post-item {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 30px;
  width: 46%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128,128,128,0.1);
}
@media (max-width: 1020px) {
  .recent-post-item {
    width: 85%;
    display: block;
  }
}
@media (max-width: 768px) {
  .recent-post-item {
    width: 92%;
  }
}
#id-post-metadata {
  margin-top: 1%;
  margin-bottom: 1%;
}
#post {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 17.5%;
}
@media (max-width: 1020px) {
  #post {
    width: 85%;
  }
}
#post table,
#post table tr,
#post table th,
#post table td {
  border: dashed rgba(128,128,128,0.3);
  border-collapse: collapse;
}
#post a {
  color: #e3b007 !important;
  text-decoration: none;
}
#post a:hover {
  color: #ff5151 !important;
}
#post ul li {
  margin-left: -15px;
  margin-bottom: 5px;
}
#post ul li a {
  text-decoration: none;
}
#post h2::before {
  content: "## ";
  color: #e3b007;
}
#post h3::before {
  content: "### ";
  color: #e3b007;
}
#post h4::before {
  content: "#### ";
  color: #e3b007;
}
#post h5::before {
  content: "##### ";
  color: #e3b007;
}
#post h6::before {
  content: "###### ";
  color: #e3b007;
}
#post p strong {
  color: #e3b007;
}
.post-title {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline;
}
.post-title:hover {
  text-decoration: underline;
}
.post-msg {
  font-size: 4px;
  padding-top: 5px;
}
.post-desc {
  font-size: 0.8rem;
  color: #808080;
}
.excerpt-buttom {
  background-color: #e3b007;
  border-radius: 3px;
  text-decoration: none;
  font-size: 6px;
  font-weight: bold;
  margin-left: 3px;
  padding: 2px;
}
.excerpt-buttom:hover {
  color: #fff !important;
}
.post-metadata {
  font-size: 0.8rem;
  color: rgba(128,128,128,0.7);
}
#mytoc {
  margin: 0;
  padding-left: 10px;
  top: 0;
  right: 0;
  position: fixed;
  font-size: 0.9rem;
  height: 96%;
  width: 210px;
  background-color: rgba(227,176,7,0.2);
  border: 5px dashed rgba(227,176,7,0.1) !important;
  overflow-x: hidden;
}
@media screen and (max-width: 1300px) {
  #mytoc {
    background-color: rgba(227,176,7,0.1);
  }
}
@media screen and (max-width: 1020px) {
  #mytoc {
    display: none;
  }
}
#mytoc::-webkit-scrollbar {
  width: 10px;
}
#mytoc::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(42,41,53,0.3);
  transition: background-color 0.3s;
}
#mytoc a {
  color: #808080 !important;
  text-decoration: none !important;
  margin-bottom: 2px;
}
#mytoc a:hover {
  color: #e3b007 !important;
}
#mytoc ol,
#mytoc li {
  list-style-type: square;
  color: rgba(0,0,0,0.7);
  margin-bottom: 5px !important;
  margin-left: -14px !important;
}
#recent-posts .page-name {
  color: #808080;
  font-family: Monaco, '宋体';
  border-bottom: 1px solid rgba(128,128,128,0.1);
  margin-bottom: 20px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
.archive-title-name,
#page .new-page-name {
  color: #808080;
  border-bottom: 1px solid rgba(128,128,128,0.1);
  font-family: Monaco, '宋体';
}
.archive-item {
  border-bottom: 1px dotted rgba(128,128,128,0.2);
  margin-top: 25px;
}
.archive-item a {
  color: #000 !important;
  text-decoration: none;
  margin-bottom: 50px;
  font-size: 18px;
}
.archive-item a:hover {
  text-decoration: underline !important;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
#article-origin {
  margin-top: 3%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px dashed rgba(227,176,7,0.4);
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-weight: bold;
  font-family: '苹方';
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.toc_active {
  color: #e3b007 !important;
  background-color: #22212b !important;
  border-right: 3px solid #e3b007 !important;
}
*::selection {
  background: #e3b007;
  color: #fff;
}
*::-moz-selection {
  background: #e3b007;
  color: #fff;
}
*::-webkit-selection {
  background: #e3b007;
  color: #fff;
}
article div a {
  text-decoration: none;
}
#contact {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px dashed rgba(227,176,7,0.5);
}
#content-outer {
  position: absolute;
  padding-left: 2%;
  left: 181px;
  height: 100%;
  width: 85%;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  #content-outer {
    margin-left: 2%;
    left: 0px;
    width: 100%;
  }
}
#content-outer {
  padding-top: 1%;
}
#content-outer a {
  color: #2a2935;
}
#content-outer a:hover {
  color: #e3b007;
}
#content-inner {
  margin-left: 0.5%;
}
#bottom-outer {
  position: fixed;
  bottom: -15px;
  left: 180px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  width: 87.5%;
  color: #808080;
  font-size: 15px;
  margin-bottom: 15px;
  background-color: rgba(255,255,255,0.8);
}
@media screen and (max-width: 768px) {
  #bottom-outer {
    left: 0;
    width: 100%;
  }
}
#bottom-totop {
  margin-left: 2%;
  text-decoration: none;
}
#bottom-inner span {
  margin-left: 58% !important;
}
@media screen and (max-width: 1020px) {
  #bottom-inner span {
    margin-left: 53% !important;
  }
}
@media screen and (max-width: 768px) {
  #bottom-inner span {
    margin-left: 40% !important;
  }
}
#paginator {
  margin-bottom: 50px;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid rgba(128,128,128,0.1);
  border-bottom: 1px solid rgba(128,128,128,0.1);
  padding: 0.5em 0.5em;
}
.page-number,
#paginator span,
#paginator a {
  text-decoration: none;
  margin: 0;
  padding: 5px 5px;
}
.next,
.prev {
  margin-right: 10px;
}
.page-number {
  margin-right: 10px;
}
.current {
  color: #e3b007 !important;
}
.input-ctl .in {
  display: inline;
  width: 3em;
  border: 1.5px solid #808080;
}
.input-ctl #bt {
  display: inline;
  border: 1px solid #e3b007;
  background-color: #e3b007;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  box-shadow: 2px 2px 2px #888;
}
.input-ctl #bt:hover {
  color: #fff;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
