html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -10;
  margin-top: -20px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fcfcf8;
  font-family: '苹方';
}
@media (max-width: 1020px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 70%;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
hr {
  border: 1px dashed rgba(128,128,128,0.5) !important;
  width: 100%;
}
article p a {
  text-decoration: none;
}
.nav_active {
  color: #ffc402 !important;
  background-color: #22212b !important;
  border-right: 3px solid #ffc402 !important;
}
.toc_active {
  color: #ffc402;
  background-color: #2a2935;
}
*::selection {
  background: #ffc402;
  color: #fff;
}
*::-moz-selection {
  background: #ffc402;
  color: #fff;
}
*::-webkit-selection {
  background: #ffc402;
  color: #fff;
}
#container {
  position: relative;
  height: 100%;
  width: 100%;
}
#menu-outer {
  background-color: #2a2935;
  float: left;
  width: 180px;
  position: fixed;
  height: 100%;
  color: #ffc402;
  margin-top: 20px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  #menu-outer {
    display: none;
  }
}
#menu-a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
#menu-a:hover {
  color: #999;
  background-color: #faf5f0;
  border-right: 3px solid #2a2935;
}
#menu-title h3 a {
  color: #ffc402;
  text-decoration: none;
  font-weight: normal;
  font-size: 17px;
  margin-top: -5px;
  margin-right: -8px;
}
#menu-title h3 a:hover {
  background-image: -webkit-linear-gradient(bottom, #f00, #ff5f60, #f0c41b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu-footer {
  position: absolute;
  left: 0;
  font-size: 10px;
  bottom: 1%;
  width: 180px;
  text-align: center;
  font-family: Monaco;
}
#menu-footer:hover {
  background-image: -webkit-linear-gradient(bottom, #f00, #ff5f60, #f0c41b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foot_msg:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(bottom, #f00, #ff5f60, #f0c41b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#min-menu-outer {
  position: fixed;
  top: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  z-index: 10;
  width: 100%;
  background-color: #2a2935;
}
@media screen and (min-width: 767px) {
  #min-menu-outer {
    display: none;
  }
}
#min-menu-outer h3 {
  margin-left: 10px;
  display: inline;
}
#min-menu-outer a {
  color: #ffc402;
  text-decoration: none;
  font-weight: normal;
}
#min-menu-outer #min-menu-inner {
  float: right;
  margin-right: 5%;
}
#min-menu-outer #min-menu-inner a {
  font-size: 12px;
}
