.toc_active {
  color: #dfad07;
}
.recent-post-item {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 30px;
  width: 46%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128,128,128,0.1);
}
@media (max-width: 1020px) {
  .recent-post-item {
    width: 85%;
    display: block;
  }
}
@media (max-width: 768px) {
  .recent-post-item {
    width: 92%;
  }
}
#id-post-metadata {
  margin-top: 1%;
  margin-bottom: 1%;
}
#post {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 17.5%;
}
@media (max-width: 1020px) {
  #post {
    width: 85%;
  }
}
#post table,
#post table tr,
#post table th,
#post table td {
  border: dashed rgba(128,128,128,0.3);
  border-collapse: collapse;
}
#post a {
  color: globle-font-color;
  text-decoration: none;
}
#post a:hover {
  color: #f00;
}
#post ul li {
  margin-left: -15px;
  margin-bottom: 5px;
}
#post ul li a {
  text-decoration: none;
}
.post-title {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline;
}
.post-title:hover {
  text-decoration: underline;
}
.post-msg {
  font-size: 4px;
  padding-top: 5px;
}
.post-desc {
  font-size: 0.8rem;
  color: #808080;
}
.excerpt-buttom {
  background-color: #e3b007;
  border-radius: 3px;
  text-decoration: none;
  font-size: 6px;
  margin-left: 3px;
  padding: 2px;
}
.excerpt-buttom:hover {
  color: #fff !important;
}
.post-metadata {
  font-size: 0.8rem;
  font-family: '方正兰亭';
  color: rgba(128,128,128,0.7);
}
#mytoc {
  margin: 0;
  padding-left: 10px;
  top: 0;
  right: 0;
  position: fixed;
  font-size: 0.9rem;
  height: 96%;
  width: 210px;
  background-color: rgba(227,176,7,0.2);
  border: 5px dashed rgba(227,176,7,0.1) !important;
  overflow-x: hidden;
}
@media screen and (max-width: 1300px) {
  #mytoc {
    background-color: rgba(227,176,7,0.1);
  }
}
@media screen and (max-width: 1020px) {
  #mytoc {
    display: none;
  }
}
#mytoc::-webkit-scrollbar {
  width: 10px;
}
#mytoc::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(42,41,53,0.3);
  transition: background-color 0.3s;
}
#mytoc a {
  color: #808080 !important;
  text-decoration: none !important;
  margin-bottom: 2px;
}
#mytoc a:hover {
  color: #dfad07 !important;
}
#mytoc ol,
#mytoc li {
  list-style-type: square;
  color: rgba(0,0,0,0.7);
  margin-bottom: 5px !important;
  margin-left: -14px !important;
}
#recent-posts .page-name {
  color: #808080;
  font-family: '宋体';
  border-bottom: 1px solid rgba(128,128,128,0.1);
  margin-bottom: 20px;
}
