.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.tag-list-item {
  display: inline;
  margin-right: 0.5em;
}
.tag-list-item a {
  text-decoration: none;
  border-bottom: 0.5px solid rgba(128,128,128,0.4);
  font-size: 0.8rem !important;
  color: #808080 !important;
}
.tag-list-item a:hover {
  color: globle-font-color !important;
}
